<div id="title-bar">
  <div id="menu-bar">
    <button id="nav-button" (click)="toggleNavigation()">&#9776;</button> <!-- Menu button for navigation -->
  </div>
  <div id="window-title">My App</div> <!-- Title can be dynamic or static -->
  <div id="window-controls">
    <button id="minimizeBtn" class="minimizeBtn" (click)="minimize()">_</button>
    <button id="maxResBtn" class="maxResBtn" (click)="toggleMaximizeRestore()">☐</button>
    <button id="closeBtn" class="closeBtn" (click)="close()">X</button>
  </div>
</div>
